@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background-image: url('../../Content/Media/maxwell-hawker-centre-cover.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3" style="color:whitesmoke">HawkerIn!</h1>
        <p style="color:whitesmoke">Let's make Hawker Great Again!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <div class="food-card">
                <div style="padding-bottom:10px">
                    <img style="width:100%" src="~/Content/Media/Tian_Tian_Chicken_Rice_SPH.jpg" />
                </div>
                <div class="food-card-content">
                    <h4>Tian Tian Hainanese Chicken Rice</h4>
                    <p>Located in Maxwell Food Centre on Maxwell Road, Tian Tian specializes in Hainanese white chicken rice.</p>
                    <p>
                        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
                        <a class="btn btn-secondary" href="#" role="button">Go there. &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="food-card">
                <div style="padding-bottom:10px">
                    <img style="width:100%" src="~/Content/Media/wowowest.jpg" />
                </div>
                <div class="food-card-content">
                    <h4>Wow Wow West Genuine</h4>
                    <p>ow wow west serves a variety of home made, delicious western cuisines</p>
                    <p>
                        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
                        <a class="btn btn-secondary" href="#" role="button">Go there. &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="food-card">
                <div style="padding-bottom:10px">
                    <img style="width:100%" src="~/Content/Media/babas-peranakan.jpg" />
                </div>
                <div class="food-card-content">
                    <h4>Babas Peranakan</h4>
                    <p>Babas Peranakan serves Peranakan and Nonya cuisine. They offer Ayam Tandoori and Curry Chicken. Come and try it with your friends and family!</p>
                    <p>
                        <a class="btn btn-primary" href="~/Home/Profile" role="button">View details &raquo;</a>
                        <a class="btn btn-secondary" href="#" role="button">Go there. &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>
</div>