
@{
    ViewBag.Title = "GetStarted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetStarted</h2>
<div class="row">
    <div class="col-md-6"><div class="start-guide">
    <div class="row">
        <div class="start-guide-item">
            <div class="col-md-2">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <strong class="fa-stack-1x circle-text">1</strong>
                </span>
            </div>
            <div class="col-md-10 guide-content">
                <h4>Register an account(free)</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="start-guide-item">
            <div class="col-md-2">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <strong class="fa-stack-1x circle-text">2</strong>
                </span>
            </div>
            <div class="col-md-10 guide-content">
                <h4>Update your idea and publish to the public</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="start-guide-item">
            <div class="col-md-2">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <strong class="fa-stack-1x circle-text">3</strong>
                </span>
            </div>
            <div class="col-md-10 guide-content">
                <h4>Gather feedback or even receive pledge!</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="start-guide-item">
            <div class="col-md-2">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <strong class="fa-stack-1x circle-text">4</strong>
                </span>
            </div>
            <div class="col-md-7 guide-content">
                <h4>Convert your profile to our official HawkIn profile!</h4>
            </div>
            <div class="col-md-10">
            </div>
        </div>
    </div>

</div></div>
    <div class="col-md-6">
        <img style="width:100%;margin-left:-100px" src="~/Content/Media/hawker-art -transparent.png" />
    </div>
</div>
<div class="buttonContainer">
    <button class="btn btn-default">Continue</button>
</div>
