
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .jumbotron {
        background-image: url('../../Content/Media/Hawkerpreneur/hipster-burger.jpg');
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    .greybg {
        color: white;
        background-color: rgba(81, 80, 80, 0.63);
        padding: 10px;
        border-radius: 5px;
        width: 350px;
    }

    .jumbotron p {
        width: 350px;
    }

    .jumbotron h1 {
        width: 400px;
    }

    .food-card img {
        width: 100px;
        height: 200px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .food-card {
        margin: 5px;
    }

    .food-card-content {
        margin-top: 0px;
    }
</style>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2 class="display-3 greybg" style="color:whitesmoke">Redefine Hawker Culture</h2>
    </div>
</div>

<div class="container body-content">
    <h2>HawkStarter</h2>
    <h6>Support new and vibrant ideas by our hawkerpreneurs, by likes or pledge!</h6>
    <div class="row">
        <div class="col-md-3">
            <h4>Browse by Hawkerstyle</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Hipster</a></li>
                <li class="list-group-item"><a href="#">Chinese</a></li>
                <li class="list-group-item"><a href="#">Indian</a></li>
                <li class="list-group-item"><a href="#">Malay</a></li>
                <li class="list-group-item"><a href="#">Cross-cultural</a></li>
                <li class="list-group-item"><a href="#">Seafood</a></li>
                <li class="list-group-item"><a href="#">Desserts</a></li>
                <li class="list-group-item"><a href="#">Healthy</a></li>
                <li class="list-group-item"><a href="#">Drink and Beverages</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="flex-wrapper" style="margin-top: 38px;">
                <div class="food-card" style="max-width:250px">
                    <div>
                        <img style="width:100%" src="~/Content/Media/Hawkerpreneur/h1.jpg" />
                    </div>
                    <div class="food-card-content">
                        <h4>Crab Meat Wanton Mee</h4>
                        <p>
                            <a class="btn btn-primary" href="#" role="button">View details</a>
                            <a class="btn btn-danger" href="#" role="button">
                                <i class="fa fa-heart-o"></i>
                                Like
                            </a>
                        </p>
                    </div>
                </div>

                <div class="food-card" style="max-width:250px">
                    <div>
                        <img style="width:100%" src="~/Content/Media/Hawkerpreneur/h2.jpg" />
                    </div>
                    <div class="food-card-content">
                        <h4>Truly Curry Rice</h4>
                        <p>
                            <a class="btn btn-primary" href="#" role="button">View details</a>
                            <a class="btn btn-danger" href="#" role="button">
                                <i class="fa fa-heart-o"></i>
                                Like
                            </a>
                        </p>
                    </div>
                </div>

                <div class="food-card" style="max-width:250px">
                    <div>
                        <img style="width:100%" src="~/Content/Media/Hawkerpreneur/h3.jpg" />
                    </div>
                    <div class="food-card-content">
                        <h4>Lim Soup "The Art Of Soup"</h4>
                        <p>
                            <a class="btn btn-primary" href="#" role="button">View details</a>
                            <a class="btn btn-danger" href="#" role="button">
                                <i class="fa fa-heart-o"></i>
                                Like
                            </a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>