
@{
    ViewBag.Title = "Hawker History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <img style="width:100%;margin-top:50px" src="~/Content/Media/streethawkers.png" />
    </div>
    <div class="col-md-7">

        <h3>HawkerHistory</h3>

        <p>Hawker centres are open-air complexes that house many stalls selling a wide variety of affordably priced food.1 They are mostly conveniently located at the heart of housing estates, usually with adjourning wet markets. Hawker centres are a unique aspect of Singapore culture and lifestyle. It is also an important place for social interaction and community bonding.</p>

        <h4>Background</h4>
        <p>        Singapore’s food culture was greatly influenced by its geographical location and its diverse population. Street peddling by hawkers of different races has been a common sight in Singapore since the 1800s.3

        Street hawking continued to thrive in Singapore after World War II. This could be attributed to the high unemployment rate that prompted many people to take up hawking to provide for their families, as such work required low capital investment and skills. The demand for cheap and affordable hawker food continued after Singapore’s independence.</p>
    </div>
</div>

