
@{
    ViewBag.Title = "Why Join Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mission">
    <div class="card row">
        <div class="col-md-5">
            <div class="mission-card">
                <h2>Background</h2>
                <div class="mission-content">
                    The hawker culture is at risk of dying out and must be saved. Hawkers are part of our precious national heritage, and we have to take action to preserve it or even revolutionise it!
                </div>
                <h2>Our Mission</h2>
                <div class="mission-content">
                    To deliver quality service and platform to preserve hawker heritage, and to help potential hawkerpreneurs to start and grow their business in Singapore.
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <img style="margin-top:40px;width:100%" src="~/Content/Media/vibrant-hawker-centres2.jpg" />
        </div>
    </div>
</div>

<div class="" style="margin:50px 5px 10px 5px;">
    <h2>Why Join Us</h2>
    <div class="row">
        <div class="col-md-6" style="border-right:1px solid #e6e6e6">
            <h3>For Existing Hawker Owners</h3>
            <hr />
            <div class='benefit-card'>
                <div class='row'>
                    <div class=col-md-4>
                        <div class=icon-holder>
                            <i class="fa fa-globe" style='font-size:600%;color:#fbb65e;' aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class=col-md-8>
                        <h4>Increase Your Market Presence, Globally!</h4>
                        <p>By joining us, you can radically increase your market presence and let the world how good is your food!</p>
                    </div>

                </div>
            </div>
            <div class='benefit-card'>
                <div class='row'>
                    <div class=col-md-4>
                        <div class=icon-holder>
                            <i class="fa fa-magnet" style='font-size: 600%;color:#88a57f' aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class=col-md-8>
                        <h4>Attract Apprentices or Workers</h4>
                        <p>We know hiring helper is tough nowadays, let alone getting apprentices. By joining us, we can help you to find the best helpers or even potential successor!</p>
                    </div>

                </div>
            </div>
            <div class='benefit-card'>
                <div class='row'>
                    <div class=col-md-4>
                        <div class=icon-holder>
                            <i class="fa fa-cutlery" style='font-size: 600%;color:#a2b5da' aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class=col-md-8>
                        <h4>Buy & Sell Used Kitchen Equipment and Utensils</h4>
                        <p>
                            Planning to closing down your
                            business but don't know where to sell all your stuff? ? This is a great place
                            for you to start!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3>For New Hawkerpreneurs</h3>
            <hr />
            <div class='benefit-card'>
                <div class='row'>
                    <div class=col-md-4>
                        <div class=icon-holder>
                            <i class="fa fa-lightbulb-o" style='font-size:600%;color:#fbb65e;' aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class=col-md-8>
                        <h4>Great Resource to help you to start your hawker business!</h4>
                        <p>Want to start up a hawker business but don't know how? We have the best resources! You can even reach out to the hawker masters here!</p>
                    </div>
                </div>
            </div>
            <div class='benefit-card'>
                <div class='row'>
                    <div class=col-md-4>
                        <div class=icon-holder>
                            <i class="fa fa-search" style='font-size:600%;color:#88a57f;' aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class=col-md-8>
                        <h4>Speed Up Hiring Process!</h4>
                        <p>You had great rock hawker idea but don't know where to hire? We can help you!</p>
                    </div>
                </div>
            </div>
            <div class='benefit-card'>
                <div class='row'>
                    <div class=col-md-4>
                        <div class=icon-holder>
                            <i class="fa fa-cutlery" style='font-size: 600%;color:#a2b5da' aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class=col-md-8>
                        <h4>Buy & Sell Used Kitchen Equipment and Utensils</h4>
                        <p>
                            Want to start a new hawker business but don't know where to get the cheap equiqment and utensils? This is a great place
                            for you to start!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card joinus-card">
                <h3>Are you an exisiting hawker stall owner?</h3>
                <div>
                    <a class="btn btn-primary" style="width:100%;text-align:center" href="~/Account/Login">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card joinus-card">
                <h3>Are you thinking to start a hawker business?</h3>
                <div style="margin-top:10px;">
                    <a class="btn btn-primary" style="width:100%;text-align:center" href="~/Hawkerpreneur/GetStarted">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>

